header {
  height: 139px;
  margin: 0;
  background: #fdfdfd;
}

header h1 {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 0 50px 0 50px;
  font-size: 55px;
  cursor: pointer;
}

header a {
  color: #999;
}

header p {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

header .menu {
  position: relative;
  height: 45px;
  margin: 0;
  background: #3cc091;
  padding: 10px;
}

header .menu a {
  color: #000;
  padding-right: 10px;
  text-align: right;
}

header .menu .right {
  float: right;
}

header .menu span {
  cursor: pointer;
  margin-right: 10px;
}

main {
  padding: 10px;
}

.modal {
  background: #FFF;
  -webkit-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  -moz-box-shadow: 0 0 8px 2px rgba(182,182,182, 0.75);
  -o-box-shadow: 0 0 8px 2px rgba(182,182,182,0.75);
  box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  width: 50%;
  position: absolute;
  left: 39%;
  margin-left: -16%;
  top: 25%;
  min-height: 450px;
  min-width: 450px;
  padding: 1rem 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
