header {
  height: 169px;
  margin: 0;
  background: #fdfdfd;
}

header h1 {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 0 50px 0 50px;
  font-size: 55px;
  cursor: pointer;
}

header a {
  color: #999;
}

header p {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

header .menu {
  position: relative;
  height: 45px;
  margin: 0;
  background: #3cc091;
  padding: 10px;
}

header .menu a {
  color: #fff;
  padding-right: 10px;
  text-align: right;
}

header .menu .right {
  float: right;
}

header .menu span {
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
}

main {
  padding: 10px;
}
