header {
  height: 119px;
  margin: 0;
  background: #fdfdfd;
}

header h1 {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 0 50px 0 50px;
  font-size: 55px;
  cursor: pointer;
}

header a {
  color: #999;
}

header p {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

.menu {
  position: relative;
  height: 1px;
  margin: 0;
  background: #3cc091;
}

main {
  padding: 10px;
}
